@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* color palette bruteexpose */
:root {
  --be-c-white: #ffffff;
  --be-c-white-soft: #f8f8f8;
  --be-c-white-mute: #f2f2f2;

  --be-c-black: #12151c;
  --be-c-black-light: #252526;
  --be-c-black-mute: #151619;

  --be-c-red: #661b1c;
  --be-c-red-darker: #531516;

  --be-c-green: #1c661b;
  --be-c-green-darker: #163531;
}

:root {
  --color-background: var(--be-c-black);
  --color-background-mute: var(--be-c-black-mute);

  --color-border-background: var(--be-c-red);

  --color-text: var(--be-c-white);

  --logger-status-blocked: var(--be-c-red-darker);
  --logger-status-success: var(--be-c-green-darker);
  --logger-status-font: monospace;

  --logger-border-color: var(--be-c-black-light);

  --logger-item-spacing: 2rem;

  --logger-col-font-size: 0.7rem;
  --logger-col-width: 100px;
  --logger-col-min-width: 50px;
  --logger-col-text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--be-c-white);
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}